@model List<Ecom.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}
<div>
    <form method="post" >
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchbtn">Search</button>
    </form>
    
    <button type="button" id="newbtn">New</button>
</div>
<table border="1">
    <thead>
        <tr>
            <td>ProductName</td>
            <td>Category</td>
            <td>Price</td>
            <td>Actions</td>

        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>-</td>
                <td>@product.Price</td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
                }
        </tbody>
    </table>
<script>
    $("#searchbtn").click(function () {
        var searchvalue = $("searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchvalue
            }
        })
            .done(function (response) { $("#tableContainer").html(response) })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) { alert("Fail") });   
    });
</script>

